<%- include('partials/header') -%>

<main class="container">
    <div class="pad">
        <a href="/login" class="login-btn"> enter</a>
        <a href="/signup" class="login-btn"> register</a>
    </div>
</main>
    

<%- include('partials/footer') -%>